# PYTHON KA CHILLA BY BABA AMMAR
## Basics of pythons

### ***01_First_Programming***

In [2]:
print(2+3)
print("Hello Datascientist Boy")
print("Junaid is really a nice name")
print("Baba_Aammar is a great teacher")

5
Hello Datascientist Boy
Junaid is really a nice name
Baba_Aammar is a great teacher

### ***02_Operators***

**PEMDAS RULE** :
Parentheses, Exponents, Multiplication and Division (from left to right), Addition and subtraction (from left to right).

In [3]:
print(2+22)
print(25-1)
print(12*2)
print(68/2)
print(68//2)
print(2**10)
print(65%10)
print(2**10*4/30+10-4)

24
24
24
34.0
34
1024
5
142.53333333333333

### ***03_strings***

In [6]:
print("Hi, Junaid!" ) # string
print('Hello datascientist Boy') # single qutation mark in string
print("Junaid is a good name") # double qutation mark in string
print('''baba aammar is a great teacher''') # triple qutation mark in string
print("whats'up") # use different qutation marks
print('''the qoutes are; these'"''')

Hi, Junaid!
Hello datascientist Boy
Junaid is a good name
baba aammar is a great teacher
whats'up
the qoutes are; these'"

### ***04_Comments out***

Shortcut key is = **ctrl/**

In [7]:
print(2**10*4/30+10-4) #its an operator function with numbers
print('''the qoutes are "this"''')       #its an string function  triple qo
print("baba aammar is a great teacher")   #its an string function double qoutes

142.53333333333333
the qoutes are "this"
baba aammar is a great teacher

### ***5_Variables***

In [8]:
# variable is an object containing specific value updates from up to down or assending orders.
 
from inspect import walktree


x=5111
print(x)
y="iam understanding python by aammar"
print(y)
print(x,y)
z=51
print(x+z)
t=x-z
print(t)
t=x-500
print(t)
#types of variables
print(type(x))
print(type(y))
print(type(z))
print(type(t))

5111
iam understanding python by aammar
5111 iam understanding python by aammar
5162
5060
4611
<class 'int'>
<class 'str'>
<class 'int'>
<class 'int'>

### ***5.1- Rules for variables***
*1-may contain letters,numbs,underscore\
2-dont start with numbers\
3-no spaces pls\
4-no keywords used in functions\ (break, mean, media, test, train etc.)
5-short and descriptive\
6-should use lower case*

In [6]:
water1="life"
water2="drink"
water3="tasteless"
water4=876
print(water1)
print(water2)
print(water3)
print(water4)
print(type(water1))
print(type(water4))

life
drink
tasteless
876
<class 'str'>
<class 'int'>

### ***06_Input_Variables***

In [5]:
# Simple function

juices_available="Fresh juice of all fruites are available"
print(juices_available)

Fresh juice of all fruites are available
apple

In [6]:
# Input Function 
juices_available=input("Which Juice do you like most? ")
print(juices_available)

Mango

In [7]:
# Inpur Function af 2nd stage
name = input("What is your name? ")
greetings= ("Hello!")
print(greetings, name)

Hello! Junaid

In [8]:
# Inpur Function af 2nd stage another way
name = input("What is your name? ")
print("Hello!", name)

Hello! Junaid

In [9]:
# Inpur Function af 2nd stage , 3Q
name = input("What is your name? ")
age= input("how old are you? ")
greetings= "Hello! "
print(greetings, name, ", You are still young.")

Hello!  Junaid , You are still young

### ***07_conditional_logics***

**logical operators are "true/false", "yes/no" or "1/0"
  == / != / <  / > / <= / >= **

In [10]:
print( 5==10)
print( 5!=10)
print( 5<=10)
print( 5>=10)
print( 5<10)
print( 5>10)

height_for_model=5
Junaid_height= input("what is ur height? ")
print(type(Junaid_height))
print(height_for_model==Junaid_height, "you are suitable")

False
True
True
False
True
False
<class 'str'>
False you are suitable

In [12]:
#  More application of conditional logical operators

# obaid_age= 2
# age_at_school= 5
# print(obaid_age==age_at_school)

age_at_school= 5
obaid_age=input("how old is your son? ")
obaid_age=int(obaid_age)
print(type(obaid_age))
print(obaid_age==age_at_school)

# convert input

<class 'int'>
False

### ***08_Type_Conversion***

In [23]:
x = 18 #integer
y = 15.1#float
z = "Tony Jaa!" # string
 
print(type(x))
print(type(y))
print(type(z))

# Implicit type conversion

f=x*y 
print(f)
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
271.8
<class 'float'>

In [36]:
#explicit type conversion

age= input ("what is your age? ")
print(type(age))                  
print(int(age))     # "or"
print(age, type(int(age))) # if we write age in float like 25.5 then? error why?

<class 'str'>
25
25 <class 'int'>

In [38]:
# if we write age in float like 25.5 then? error why?
age= input ("what is your age? ")
print(type(age))
print(age, type(float(age)))

<class 'str'>
25.5 <class 'float'>

In [39]:
name= input("what is your name? ")
print(str(name))            #"or"
print(name, type(str(name)))

Junaid
Junaid <class 'str'>

In [10]:
x=20
y=23.9
z="elon musk"

print(type(x))
print(type(y))
print(type(z))


print(type(float(x)))

print(type(str(z)))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>

### ***09_if_else_elif***

In [44]:
required_age_at_school=5
obaid_age=2

# i.e,  can obaid go to school
# "conditional operator must use ==" & # *intended code because new "8" line in after a short tab

if obaid_age==required_age_at_school: print("congratulations! obaid can join the school")
else: print(" obaid cannot go school")

 obaid cannot go school

In [46]:
required_age_at_school=5
obaid_age=5
# i.e,  can obaid go to school
if obaid_age==required_age_at_school: print("congratulations! obaid can join the school")
else: print(" obaid cannot go school")

congratulations! obaid can join the school

In [47]:
# i,e
required_age_at_school=5
obaid_age=3

if obaid_age==required_age_at_school:
     print("congratulations! obaid can join the school")
elif obaid_age > required_age_at_school:
     print(" he must have to join high school")
else:
     print(" obaid cannot go school")

 obaid cannot go school

In [48]:
# i.e

required_age_at_school=5
obaid_age=2

if obaid_age==required_age_at_school:
    print("congratulations! obaid can join the school")
elif obaid_age > required_age_at_school:
    print(" he must have to join high school")
elif obaid_age<=2:
    print("you must have to takecare of him, he is a baby")
else:
    print(" obaid cannot go school")

# if, elif, else, statement clear.

you must have to takecare of him, he is a baby

In [52]:
fruit_basket_minimum_order=5
your_fruits=7
# your_fruits=input("how many fruits u wanna add? ")
# print(type(int(your_fruits)))
# print(type(int(fruit_basket_minimum_order)))
if your_fruits==fruit_basket_minimum_order:
    print("your order will be procceded")
elif your_fruits > fruit_basket_minimum_order:
    print("your order will be procceded")
else:
    print("you should add more fruits")

your order will be procceded

### ***10_functions***
Defining a function

In [56]:
print(" we are learnin with Aammar")
print(" we are learnin with Aammar")
print(" we are learnin with Aammar")
print(" we are learnin with Aammar")

# we had a mistake of word "learning". we muts have to rewrite all words again.. this is called paranthesis "()"
# here we have to defining a functions write "def"

# 1
def print_codanics():
     print(" we are learnin with Aammar")
     print(" we are learnin with Aammar")
     print(" we are learnin with Aammar")
print_codanics() #wrote 3 times

 we are learnin with Aammar
 we are learnin with Aammar
 we are learnin with Aammar
 we are learnin with Aammar
 we are learnin with Aammar
 we are learnin with Aammar
 we are learnin with Aammar

In [57]:
# 2
def print_codanics():
     text= "we are learning with Aamaar in codanics channel"
     print(text)
     print(text)
     print(text)

print_codanics()

we are learning with Aamaar in codanics channel
we are learning with Aamaar in codanics channel
we are learning with Aamaar in codanics channel

In [58]:
# 3
def print_codanics(text):
     print(text)
     print(text)
     print(text)

print_codanics("we are learning python with aammar in codanics youtube channel")

we are learning python with aammar in codanics youtube channel
we are learning python with aammar in codanics youtube channel
we are learning python with aammar in codanics youtube channel

In [65]:
def school_calculator(age, text):
     if age==5:
         print("obaid can join the school")
     elif age>5:
         print("obaid should go to higher school")
     else:
         print("obaid is still a baby")

school_calculator(5, "obaid")

obaid can join the school

In [66]:
school_calculator(10, "obaid")

obaid should go to higher school

In [67]:
school_calculator(2, "obaid")

obaid is still a baby

In [68]:
# defining a function of future

def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_predicted_age= future_age(18)
print(future_predicted_age)

# i understand function really well. thanks!

38

### ***11- While and for loops***

In [69]:
# While loops

x=0
while (x<5):
    print(x)
    x=(x+1)

0
1
2
3
4

In [70]:
x=5
while(x<7):
    print(x)
    x=(x+2)

5

In [72]:
# for loops

for a in range(3,8):
    print(a)

for t in range(77,88):
    print(t)

3
4
5
6
7
77
78
79
80
81
82
83
84
85
86
87

In [71]:
colors=["blue","pink","red","yellow","green"]
for c in colors:
    # if (c=="red"):break
    if (c=="red"):continue
    print(c)

blue
pink
yellow
green

In [73]:
# array
days = ("mon", "tue", "wed", "thus", "fri", "sat", "sun")

for d in days:
    # if (d=="fri"):break
    if (d=="fri"): continue #it skips d (friday excluded)
    print(d)

mon
tue
wed
thus
sat
sun

### ***12-Libararies (import)***

In [74]:
import math
print("value", math.pi)

import statistics
x=[22,33,44,55]
print(statistics.mean(x))

#numpy, pandas, skilearn, etc

value 3.141592653589793
38.5

### ***13_troble_shooting***

Three types of errors.\
syntex error (, . "etc type of error").\
runtime error (mathematical error).\
symentic error (our own fault) very difficult to solve.

In [ ]:
print(iam Junaid)# syntax error
print(25/0)           # runntime error 
name=Junaid
print("hello name)"   # unknown error

# trouble shooting is easy

**THE CODE IS MADE BY PYTHON VSCODE IDE JUPYTER SAVED AS HTML.
ITS THE END.
BUNDLES OF THANKS AND APPRECIATION TO THE INSTRUCTOR BABA AAMMAR.
JAZAKALLAH KHAIR.